<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css" type="text/css" />
</head>

<body>
    <div class="container d-flex p-2 bd-highlight flex-column">
        <div class="jumbotron jumbotron-fluid d-flex p-2 bd-highlight flex-column">
            <h1 class="display-4">The Impossible List</h1>
            <p class="lead">
                After watching Skillshare video on YouTube about goal setting, I got an idea to create this simple
                application to keep track of goals.
            </p>
            <div class="embed-responsive embed-responsive-16by9 embedded-video align-self-center">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNjn6kJRHNY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="align-self-center">
            <div class="form-group">
                <input type="text" class="form-control" id="goalInput" placeholder="Insert new goal" />
            </div>
            <ul class="list list-group">
            </ul>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script text="text/javascript" src="app.js"></script>
</body>

</html>